<a href="https://colab.research.google.com/github/alwaysbritt24/Data-Analytics-learn/blob/main/Python_for_data_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [252]:
#strings

In [253]:
name = 'Python'

In [254]:
name.upper()

'PYTHON'

In [255]:
name.lower()

'python'

In [256]:
name.replace("o","e")

'Pythen'

In [257]:
job_title = 'Data Analyst'

In [258]:
job_title.replace('a', 'o', 2)

'Doto Analyst'

In [259]:
job_title.split(sep=" ",maxsplit=1)

['Data', 'Analyst']

In [260]:
str.__add__('Data', ' Analyst')

'Data Analyst'

In [261]:
role = 'Data Analyst'
skill = 'Python'

In [262]:
'Role:' + role

'Role:Data Analyst'

In [263]:
'Role: {}'.format(role)

'Role: Data Analyst'

In [264]:
'Role: {}; Skill: {}'.format(role, skill)

'Role: Data Analyst; Skill: Python'

In [265]:
print(f'{role}, {skill}')

Data Analyst, Python

In [266]:
#join method

In [267]:
years_experience = '0123456789'

In [268]:
', '.join(years_experience)

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

# conditional statements

In [269]:
#if, elif, else

In [270]:
if True:
  print('Whats up data nerd')

Whats up data nerd

In [271]:
#skill require for job
job_skill = 'SQL'

#applicant skill
applicant_skill = 'C++'

In [272]:
if job_skill == applicant_skill:
  print('Skills match')

In [273]:
yearsOf_experience = 4

if job_skill == applicant_skill:
  print("Skills match")
elif yearsOf_experience >= 5:
  print('Good experience, No SQL')
else:
  print('No skill or experience')

No skill or experience

# List

List are mutable meaning you can chnage the elements in a list once its made.
collection of ordered items

In [274]:
my_list = [1, 'Python', [2,'sql']]

my_list

[1, 'Python', [2, 'sql']]

In [275]:
job_skills = ['sql', 'tableau', 'excel']

In [276]:
job_skills.append('python')

job_skills

['sql', 'tableau', 'excel', 'python']

In [277]:
job_skills.remove('tableau')

job_skills

['sql', 'excel', 'python']

In [278]:
len(job_skills)

3

In [279]:
job_skills[2]

'python'

In [280]:
job_skills.insert(1, 'tableau')

In [281]:
job_skills

['sql', 'tableau', 'excel', 'python']

In [282]:
job_skills.pop(3)

'python'

In [283]:
#job_skills.pop(4)

In [284]:
job_skills

['sql', 'tableau', 'excel']

In [285]:
job_skills[0:4]

['sql', 'tableau', 'excel']

In [286]:
job_skills[0:1]

['sql']

In [287]:
job_skills[::1]

['sql', 'tableau', 'excel']

In [288]:
job_skills[::3]

['sql']

In [289]:
luke_skills = ['python', 'bigquery', 'R']
kelly_skills = ['python', 'sql', 'looker']

all_skills = luke_skills + kelly_skills

all_skills

['python', 'bigquery', 'R', 'python', 'sql', 'looker']

In [290]:
all_skills[::2]

['python', 'R', 'sql']

In [291]:
all_skills[5:]

['looker']

In [292]:
all_skills[-1:]

['looker']

In [293]:
job_skills

['sql', 'tableau', 'excel']

In [294]:
#skill1, skill2, skill3, skill4 = job_skills

In [295]:
'''print(skill1)
print(skill2)
print(skill3)
print(skill4)'''

'print(skill1)\nprint(skill2)\nprint(skill3)\nprint(skill4)'

In [296]:
skill_concerned, *other_skills = job_skills #unpacks an interval first skill will go to the ifrst variable all the rest in the second

In [297]:
print(skill_concerned)
print(other_skills)

sql
['tableau', 'excel']

# Dictionaries

dictonaries is not ordered, values can de duplicated, keys cannot, mutable

In [298]:
job_type_skills = {
    'database': 'postreqsql',
    'language':'python',
    'library': 'pandas'
 }

In [299]:
job_type_skills

{'database': 'postreqsql', 'language': 'python', 'library': 'pandas'}

In [300]:
job_type_skills['database']

'postreqsql'

In [301]:
job_type_skills.keys()

dict_keys(['database', 'language', 'library'])

In [302]:
job_type_skills.values()

dict_values(['postreqsql', 'python', 'pandas'])

In [303]:
job_type_skills.pop('library')

'pandas'

In [304]:
job_type_skills.update({'cloud':'google cloud'})

In [305]:
job_type_skills

{'database': 'postreqsql', 'language': 'python', 'cloud': 'google cloud'}

In [306]:
job_type_skills['version control'] ='git ' #inserts a new key and value

In [307]:
job_type_skills

{'database': 'postreqsql',
 'language': 'python',
 'cloud': 'google cloud',
 'version control': 'git '}

# Sets

mutable, unique no duplicates, unordered, no indexing

In [308]:
job_skills2 = {'tableau', 'sql', 'python', 'statistics'}

In [309]:
job_skills2

{'python', 'sql', 'statistics', 'tableau'}

In [310]:
job_skills2.add('excel')

In [311]:
job_skills2

{'excel', 'python', 'sql', 'statistics', 'tableau'}

In [312]:
job_skills2.remove('tableau')

In [313]:
job_skills2

{'excel', 'python', 'sql', 'statistics'}

In [314]:
skill_set = ['python', 'sql','statistics', 'tableau', 'python', 'sql', 'statistics', 'tablequ']

In [315]:
set(skill_set)

{'python', 'sql', 'statistics', 'tableau', 'tablequ'}

In [316]:
list(set(skill_set))

['python', 'tablequ', 'sql', 'statistics', 'tableau']

# Tuples

for fixed data, sequence, ordered, indexing, immutable, duplicates allowed

In [317]:
lukes_skills = ('python', 'sql', 'tableau', 'statistics')

lukes_skills

('python', 'sql', 'tableau', 'statistics')

In [318]:
lukes_skills[0]

'python'

In [319]:
lukes_skills[0:2]

('python', 'sql')

In [320]:
new_skills = ('excel', 'power bi')

overall_skills = lukes_skills + new_skills

overall_skills

('python', 'sql', 'tableau', 'statistics', 'excel', 'power bi')

In [321]:
overall_skills[-1::]

('power bi',)

In [322]:
overall_skills[0:3]

('python', 'sql', 'tableau')

# Range

In [323]:
range(5)

range(0, 5)

In [324]:
tuple(range(2,5))

(2, 3, 4)

In [325]:
tuple(range(2, 101, 2))

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100)

# operators

operators - and , or , not        example - x and y, x or y, not x

In [326]:
job_wfh = True
job_health_insurance = False
JOb_degree = True

job_wfh and job_health_insurance and job_degree

False

In [327]:
job_wfh or job_health_insurance or job_degree

True

In [328]:
not False

True

membership operators checking if and object is inside of another object

in memebrsship x in y, not in not mebership x not in y

In [329]:
'Data' in 'Data nerd '

True

In [330]:
'data ' in 'Data nerd' # case sensitive

False

In [331]:
job_skills = ['python', 'sql', 'tableau']

In [332]:
'python' in job_skills

True

identity operates are use to identify if soemthing is correlated to another

is identity x is y, is not not identity x is not y

In [333]:
salary_kelly = 100_000
salary_britt = 100_000

salary_kelly is salary_britt # 'is' operator is checking to see if these two variables are using the same memory location

False

In [334]:
id(salary_kelly)

138572877754192

In [335]:
id(salary_britt)

138572877754224

In [336]:
core_skills = ['python', 'sql', 'tableau']
britt_skills = core_skills

In [337]:
core_skills is britt_skills

True

In [338]:
id(core_skills)

138572877275264

In [339]:
id(britt_skills)

138572877275264

bitwise operators
*   & - AND - x & y
*   | - OR - x | y
*   ^ - XOR - x ^ y
*   ~ - NOT ~x
*   << - Left shit - x << y
*   >> - right shift - x >> y

In [340]:
bin(42)

'0b101010'

# Loops

In [341]:
numbers = [0, 1, 2, 3, 4, 5]

for number in numbers:
  print(number)

0
1
2
3
4
5

In [342]:
characters = 'PYTHON'

for character in characters:
  print(character)

P
Y
T
H
O
N

In [343]:
years_of_experience = {
    'Britt' : 3,
    'Chris': 6,
    'Mel' : 4,
    'kelly' : 3,
    'mary': 7
}

In [344]:
for value in years_of_experience.values():
  print(value)

3
6
4
3
7

In [345]:
for key, value  in years_of_experience.items():
  if value > 5:
    print(key, 'has', value, 'years of experience')

Chris has 6 years of experience
mary has 7 years of experience

In [346]:
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [347]:
count = 1
while count < 5:
  print(count)
  count += 1

1
2
3
4

In [348]:
years = 0
index = 0

years_list = list(years_of_experience.items())
while years < 5:
  key, years = years_list[index]
  if years >= 5:
    print(key, years)
  index += 1

Chris 6

# list comprehension

In [349]:
numbers = [x for x in range(100)] # numbers from 0 to 100

numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [350]:
numbers = []

for number in range(100):
  numbers.append(number)

In [351]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [352]:
numbers = [x * 2 for x in range(100)]

In [353]:
numbers

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

# Exercise

Filter what jobs to apply for on a list of skills

In [354]:
my_skills = ['Python', 'SQL', 'Excel']

In [355]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]


*   loop thropugh the job role
*   verify if all my_skills are inside each job role
*   if true (or qualified), add to qualifed list of jobs

In [356]:
qualified_roles = []

for job in job_roles:
  qualified = True
  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False
      break
  if qualified:
    qualified_roles.append(job['role'])

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

# Function

In [357]:
skills_list = ['Python', 'SQL', 'Excel']

In [358]:
count = 0
for skill in skills_list:
  count += 1

count

3

In [359]:
data_salaries = [9500, 100000, 85000, 97000, 140000]

In [360]:
min(data_salaries)

9500

In [361]:
sorted(data_salaries)

[9500, 85000, 97000, 100000, 140000]

In [362]:
base_salary = 100000
bonus = 0.1

def calculate_salary(base_salary, bounus = .50):
  total_salary = base_salary * (1 + bonus)
  return total_salary

In [363]:
calculate_salary(200000)

220000.00000000003

# Lambda

In [364]:
mul_two = lambda x: x * 2

In [365]:
mul_two(4)

8

In [366]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

#def calculate_salary(base_salary, bounus = .10):
 # total_salary = base_salary * (1 + bonus)
  #return total_salary

total_salary_list = [(lambda x: x * 1.1)(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

In [367]:
job_data = [
    {"job_title": "Data Analyst Intern","job_skills": ["Python", "SQL", "Data Visualization", "Excel"],
        "remote": True},
    {"job_title": "Junior Data Scientist", "job_skills": ["Python", "Machine Learning", "Pandas", "Scikit-learn"],
        "remote": False},
    {"job_title": "Data Engineer Intern","job_skills": ["Python", "ETL", "AWS", "SQL"],"remote": True},
    {"job_title": "Business Intelligence Analyst", "job_skills": ["Power BI", "SQL", "Statistics", "Data Cleaning"],
        "remote": False}
]

In [368]:
list(filter(lambda job: job['remote'] and "Python" in job ['job_skills'], job_data))

[{'job_title': 'Data Analyst Intern',
  'job_skills': ['Python', 'SQL', 'Data Visualization', 'Excel'],
  'remote': True},
 {'job_title': 'Data Engineer Intern',
  'job_skills': ['Python', 'ETL', 'AWS', 'SQL'],
  'remote': True}]

# Modules

In [369]:
'''import my_module

my_module.skill_list'''

'import my_module\n\nmy_module.skill_list'

In [370]:
'''my_module.skill('python')'''

"my_module.skill('python')"

In [371]:
'''from job_analyzer import *

calculate_salary(120000)

calculate_bonus(123000, 50000)'''

'from job_analyzer import *\n\ncalculate_salary(120000)\n\ncalculate_bonus(123000, 50000)'

In [372]:
#salary_list = [12390, 57934, 45747, 673045]

In [373]:
'''from statistics import mean, mode, median

mean(salary_list)'''

'from statistics import mean, mode, median\n\nmean(salary_list)'

In [374]:
#median(salary_list)

In [375]:
#mode(salary_list)

# Exercise Cleaning Data

In [376]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [377]:
from datetime import datetime

In [378]:
datetime.now()

datetime.datetime(2025, 4, 13, 13, 24, 57, 392927)

In [379]:
test_date = data_science_jobs[0]['job_date']

In [380]:
print(datetime.strptime(test_date, '%Y-%m-%d'))

2023-05-12 00:00:00

In [381]:
import ast

for job in data_science_jobs:
  job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')
  job['job_skills'] = ast.literal_eval(job['job_skills'])

In [382]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 15, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 10, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 8, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 18, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 20, 0, 0)}]